<div class="navbar">
    <div class="navbar-item"><a href="/home">Home</a></div>
    <div class="navbar-item"><a href="/posts/index">Posts</a></div>
    <div class="navbar-item"><a href="/users/index">Users</a></div>
    <div class="navbar-item"><a href="/posts/new">New Post</a></div>
    <div class="navbar-item"><a href="/users/settings"><%=loggedUser%></a></div>
    <div>
        <form action="/users/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>
</div>