<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div>Sorry the page your looking for doesn't exist.</div>
    <div>Error : (pass in error here and show it)</div>
</body>
</html>