<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social</title>
    <!-- Importing CSS -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <!-- Header -->
    <h1>Nothing Social</h1>
    
    <!-- NavBar -->
    <%- include('partials/navbar.ejs') %>

    <h3>Latest Posts</h3>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti et harum sint? Corporis illo temporibus aspernatur ipsum autem dolor eaque vel ut excepturi. Numquam, in consectetur. Quod modi minima repudiandae.</div>
    
    <h3>Latest Users</h3>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, veniam temporibus? Veniam minima voluptas impedit facilis eum eos. Maxime quasi quo optio qui error, laudantium aut nesciunt ex ipsam quia.</div>
   
</body>
</html>