<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <!-- Header -->
    <h1>"Nothing Social"</h1>
    <!-- Sub-Header -->
    <div>A fully functioning, social media app concept designed around the 'Nothing' Tech ecosystem.</div>
    <div>by Ummer Khan</div>

    <!-- NavBar -->
    <div>
        <div><a href="/users/new">Log in / Register</a></div>
        <div><a href="/users/index">View All Users</a></div>
    </div>

    <div>Current signed in user : <%=loggedUser%></div>

    <div><button href="/users/signout">Sign Out</button></div>

</body>
</html>