<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <!-- Header -->
    <h1>"Nothing Social"</h1>
    
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <h2>Users</h2>
        <div><a href="/users/new">Log In / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
        <h2><%=loggedUser%></h2>
        <div>
            <form action="/users/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>
    </div>
    
    <!-- Sub-Header -->
    <div>A fully functioning, social media app concept designed around the 'Nothing' Tech ecosystem.</div>
    <div>by Ummer Khan</div>


    <h2>Posts</h2>
    <div><a href="/posts/index">Post's Index</a></div>
    <div><a href="/posts/new">New Post</a></div>

</body>
</html>