* {
    color: rgb(131, 40, 40);
    background-color: black;
    /* font-size: 2rem; */
    text-align: center;
    
}

a:hover {
    color: white;
}

/* NavBar */
.navbar { 
    display: flex;
    justify-content: center;
}

.navbar-item {
    padding: 1rem;
}

/* posts image */
.post-img {
    height: 20rem;
    width: 20rem;
}