<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Are you sure you want to delete your account?</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log In / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
        <h2><%=loggedUser%></h2>
        <div>
            <form action="/users/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>

    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button type="submit">Yes, delete my account.</button>
    </form>
    
</body>
</html>