<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Are you sure you want to delete your account?</h1>
    <!-- NavBar -->
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- <form action="/users/<%=user._id%>?_method=DELETE" method="POST"> -->
    <form action="/users/<%=user._id%>/delete?_method=DELETE" method="POST">
        <button type="submit">Yes, delete my account.</button>
    </form>
    
</body>
</html>