<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Index</title>
</head>
<body>
    <h1>Users Index</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log in / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
    </div>

    <div>
        <ul>
            <% for (let i = 0; i < users.length; i++) { %>
            <li>
                <!-- <div> -->
                    <%=users[i]._id %>
                    <%=users[i].username %>
                    <%=users[i].password %>
                    <%=users[i].bio %>
                <!-- </div> -->
                <% } %>
            </li>

        </ul>
    </div>
</body>
</html>