<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Index</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Users Index</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log In / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
        <h2><%=loggedUser%></h2>
        <div>
            <form action="/users/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>




    <% for (let i = 0; i < users.length; i++) { %>
    <div>
                <div>--------</div>
                <h3>Username</h3> 
                <div><%=users[i].username %></div>
                <h3>Bio</h3> 
                <div><%=users[i].bio %></div>
                <div>--------</div>
    </div>
    <% } %>

   
</body>
</html>