<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up for Nothing Social!</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>

    <h1>Log In / Register</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log In / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
        <h2><%=loggedUser%></h2>
        <div>
            <form action="/users/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>

    
    <h2>Log In</h2>
    <form action="/users/login" method="POST">
        <div>Username</div><input type="text" name="username">
        <div>Password</div><input type="password" name="password">
        <br>
        <button type="submit">Log In</button>
    </form>
    

    <h2>Register</h2>
    <form action="/users/register" method="POST">
        <div>Username</div><input type="text" name="username">
        <div>Password</div><input type="text" name="password">
        <div>Bio</div><input type ="text" name="bio">
        <br>
        <button type="submit"> Sign Up</button>
    </form>


</body>
</html>