<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up for Nothing Social!</title>
</head>
<body>
    <div>Sign Up for Nothing Social!</div>
    <form>
        <div>username</div><input type="text" name="username">
        <div>password</div><input type="text" name="password">
        <div>bio</div><input type ="text" name="bio">
    </form>
</body>
</html>