<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up for Nothing Social!</title>
</head>
<body>
    <div>Sign Up for Nothing Social</div>
    <form action="/users/new" method="POST">
        <div>Username</div><input type="text" name="username">
        <div>Password</div><input type="text" name="password">
        <div>Bio</div><input type ="text" name="bio">
        <button type="submit"> Sign Up
    </form>
</body>
</html>