<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>User Settings</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log in / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
    </div>


    <div>Edit Profile</div>
    <div>Delete Account</div>

</body>
</html>