<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>User Settings</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>


    <a href="/users/<%=user._id%>/edit"><div>Edit Profile</div></a>
    <a href="/users/<%=user._id%>/delete"><div>Delete Account</div></a>



</body>
</html>