<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Nothing Social</h1>
    <div><a href="/">Home</a></div>
    <div><a href="/users/new">Log In / Register</a></div>
    <div><a href="/users/index">Users Index</a></div>
    <div><a href="/users/settings">Settings</a></div>
    <h2>Create a New Post</h2>

    <form action="/posts/new" method="POST">
        <div>Image</div><input type="text" name="image"><br>
        <div>Description</div><input type="text" name="description"><br>
        <button type="submit">Post</button>
    </form>


</body>
</html>