<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Nothing Social</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>

    <form action="/posts/new" method="POST">
        <div>Image</div><input type="text" name="image"><br>
        <div>Description</div><input type="text" name="description"><br>
        <button type="submit">Post</button>
    </form>


</body>
</html>