<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social | New Post</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Nothing Social</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>
    
    <form action="/posts/new" method="POST">
        <div>Image Link</div><input type="text" name="image"><br>
        <div>Description</div><input type="text" name="description"><br>
        <button type="submit">Post</button>
    </form>
    
    <div>For Image's upload your own image on --- and copy the image link, or Find an image on google and copy the link.</div>

</body>
</html>